/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Jet Set", "PT Sans", Calibri, Tahoma, sans-serif;
}


/* END  20110126 */

 :root {
    /* CSS COLORS */
    --primary-color: #54940c;
    --primary-dark-color: #24590c;
    --secondary-color: #ecc605;
    --border-color: #e20f47;
    --border2-color: #e20f47;
    --outline-color: #040404;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    overflow: hidden;
    line-height: 1;
}

#topgraphic {
    width: 100%;
    position: absolute;
    z-index: 1;
    height: 100%;
}


/* Site SVG Colors */

#topgraphic_path3 {
    fill: var(--secondary-color);
}

#topgraphic_path2 {
    fill: var(--border2-color);
}

#topgraphic_path5 {
    fill: var(--primary-color);
}

#topgraphic_path4 {
    fill: var(--border-color);
}

#topgraphic_path1 {
    fill: var(--outline-color);
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

#visualizer-svg {
    z-index: 1;
}

#app {
    /* font-family: 'Open Sans', sans-serif; */
    color: #ffffff;
    background-color: var(--primary-color);
    min-height: 100vh;
    min-width: 100vw;
}

#curtain {
    position: fixed;
    top: -1px;
    z-index: 0;
    width: 100%;
    height: 15%;
}


/* Grafitti soul  */

#graffitiSoul {
    width: 25vw;
    height: 25vw;
    max-width: 300px;
    max-height: 300px;
    min-width: 100px;
    min-height: 100px;
}

#graffitiSoulFrame {
    position: absolute;
    z-index: 2;
    height: 100vh;
    width: 100%;
}

#graffitiSoul-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.cssmarquee {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    --offset: 25vw;
    display: flex;
    flex-direction: row;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-132.5% + var(--offset));
}

.cssmarquee>span {
    position: absolute;
    width: fit-content;
    height: 100%;
    margin-left: 10%;
    text-align: center;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }
    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}


/* Large Play button */

#large-play {
    position: absolute;
    z-index: 4;
    height: 100vh;
    width: 100%;
}

#large-play-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#large-play-container>* {
    font-size: 96px;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.2s;
    opacity: 0;
    filter: drop-shadow(0 0 1px black);
}

#large-play-container>*:hover {
    color: rgba(255, 255, 255, 0.8);
}

#footer-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
}

#song-name {
    position: absolute;
    bottom: 20vh;
    height: fit-content;
    font-size: 24px;
    width: 100%;
    display: none;
    color: rgb(45, 68, 73);
}

.animation {
    /* IE & FireFox */
    animation: demoAnimation 3s;
    /* Chrome, Safari & Opera */
    -webkit-animation: demoAnimation 3s;
}


/* IE & FireFox */

@keyframes demoAnimation {
    from {
        left: -500px;
    }
    to {
        left: 0px;
    }
}


/* Chrome, Safari & Opera */

@-webkit-keyframes demoAnimation {
    from {
        left: -500px;
        display: block;
    }
    to {
        left: -500px;
    }
}

.song-title {
    color: #51c8ec;
    padding-left: 10px;
    font-size: 1.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing: 0.1em;
}

.song-title>span {
    font-style: italic;
    letter-spacing: 0.1em;
    line-height: normal;
}

.song-subtitle {
    flex: 0 0 auto;
    font-size: 1.2rem;
    font-weight: 5;
    letter-spacing: 0.1em;
    line-height: normal;
    min-height: 26px;
    padding: 5px 10px 5px 5vw;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgba(255, 255, 255, 1);
    background-size: contain;
    background-color: rgba( 64, 151, 155, 1);
    background-image: url('./dots.png');
    background-repeat: repeat;
}

.song-author {
    padding-left: 204px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#song-name a {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
}

#song-name a:hover {
    color: rgba(255, 255, 255, 0.9);
}

#color-picker-1,
#color-picker-2,
#color-picker-3 {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    left: 10px;
    top: 12px;
}

.color-picker-container-1,
.color-picker-container-2 {
    width: 36px;
    height: 36px;
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.4);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    border-right: 2px solid rgba(0, 0, 0, 0.4);
}

.color-picker-container-3 {
    width: 36px;
    height: 36px;
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.4);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.color-picker-container-1:hover,
.color-picker-container-2:hover,
.color-picker-container-3:hover {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.6);
}

.color-picker-container-1:hover,
.color-picker-container-2:hover {
    border-right: solid 2px rgba(0, 0, 0, 0.1) !important;
}

#color-picker-label-1,
#color-picker-label-2,
#color-picker-label-3 {
    position: absolute;
    margin: 4px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    opacity: 0.8;
    transition: 0.2s;
    cursor: pointer;
    border: solid 1px rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
}

#color-picker-label-1 {
    background-color: #0C0C0C;
}

#color-picker-label-2 {
    background-color: #181818;
}

#color-picker-label-3 {
    background-color: #242424;
}

#color-picker-label-1:hover,
#color-picker-label-2:hover,
#color-picker-label-3:hover {
    border: solid 1px rgba(0, 0, 0, 1);
    opacity: 1;
}

#color-picker-label-1:hover:after,
#color-picker-label-2:hover:after,
#color-picker-label-3:hover:after {
    font-family: 'Open Sans', sans-serif;
    text-transform: none;
    letter-spacing: normal;
    background: rgba(0, 0, 0, .6);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    top: 38px;
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 12px;
    font-weight: 600;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
    white-space: nowrap;
    left: -6px;
    padding: 4px 8px;
    position: absolute;
    z-index: 100;
}

#color-picker-label-1:hover:after {
    content: "Color palette 1";
}

#color-picker-label-2:hover:after {
    content: "Color palette 2";
}

#color-picker-label-3:hover:after {
    content: "Color palette 3";
}

#color-picker-label-1>i,
#color-picker-label-2>i,
#color-picker-label-3>i {
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 16px;
}

.vol-bar {
    position: absolute;
    z-index: 100;
    font-size: 2em;
    top: 10%;
    left: 5%;
    border: 1px solid #000000;
    padding: 5px;
    background-color: rgba(50, 50, 50, 0.6);
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    height: 36px;
}

#personal-links {
    position: absolute;
    z-index: 100;
    right: 5%;
    top: 10%;
    min-height: 20%;
    max-height: 45%;
}

#personal-links-container {
    display: flex;
    flex-direction: column;
    max-height: 50vh;
    min-height: 25vh;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #000000;
    padding: 5px;
    background-color: rgba(50, 50, 50, 0.6);
}

.personal-links a {
    color: rgba(255, 255, 255, 1);
}

.personal-links a:hover {
    color: rgba(255, 255, 255, 0.8);
}

.personal-links svg:hover {
    fill: rgba(255, 255, 255, 0.8);
}

.side-link {
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.submit-button {
    cursor: pointer;
    align-self: center;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    background-color: orange;
    border-color: orange;
    border-width: 10px;
    border-radius: 10px;
}

.submit-button:hover {
    cursor: pointer;
    align-self: center;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    border-color: black;
    border-width: 2px;
    background-color: rgba(238, 177, 45, 1);
    border-radius: 10px;
}

.center-modal-title {
    text-align: center;
    font-size: 24px;
    font-weight: 100;
    line-height: normal;
}

#close-modal {
    position: absolute;
    font-size: 36px;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
}

#close-modal:hover {
    color: rgba(0, 0, 0, 0.8);
}

.modal-italicize {
    font-style: italic;
    font-weight: 600;
}

.modal-feature-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

.center-modal {
    text-align: center;
}

.bold-modal {
    font-weight: 600;
}

#radio-modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px #000000;
    line-height: 20px;
}

#chat-modal {
    display: none;
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px #000000;
    line-height: 20px;
}


/* chat modal */

.chat-modal-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    margin: 7vh auto;
    padding: 20px;
    border: solid 2px rgba(255, 255, 255, 0.5);
    width: 80%;
    height: 80%;
    min-height: 80%;
    max-height: 90%;
    max-width: 980px;
    border-radius: 24px;
    cursor: initial;
}


/* chat modal container */

.chat-flex-continer {
    min-height: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


/* A chat message with username */

.chat-message {
    display: flex;
    width: 100%;
    margin: 3px 0px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}


/* chat message contents */

.chat-text {
    padding-left: 5px;
}


/* message input bar */

.chat-input {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    /* turn this off when ready for public */
    pointer-events: none;
}

.chat-history-container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    max-height: 80vh;
    overflow-y: scroll;
}

.station-grid-wrapper {
    display: grid;
    justify-content: center;
    grid-auto-flow: row;
    align-items: stretch;
    align-content: stretch;
    grid-template-columns: 150px 150px 150px;
    grid-gap: 10px;
    color: #444;
}

.station-grid-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
}

.stationShuffle {
    min-width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: auto; */
}

.stationTitle {
    width: 50%;
    text-align: left;
}

.station-row-box {
    min-height: 150px;
    padding: 0% 5% 0% 5%;
    border-bottom: 1px solid white;
    color: rgba(white, .5);
    background: #444;
    text-align: center;
    scroll-snap-align: start;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.station-grid-image {
    /* background-color: #444; */
    /* color: #fff; */
    min-height: 150px;
    border-radius: 5px;
    max-width: 150px;
    max-height: 150px;
    padding: 20px;
    font-size: 150%;
    width: 50%;
}

.station-row-box:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.6);
}

.modal {
    display: none;
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px #000000;
    line-height: 20px;
}

.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px #000000;
    line-height: 20px;
}

.keyboard-modal-container {
    /* background-color: #6cb36c; */
    color: #ffffff;
    min-height: 200px;
    min-width: 300px;
    cursor: initial;
}

.keyboard-modal-container td {
    font-size: 16px;
}

.keyboard-modal-container table {
    border: solid 1px rgba(255, 255, 255, 0.5);
    width: 100%;
    max-width: 600px;
    margin: 30px auto;
}

.keyboard-modal-container th {
    font-size: 18px;
    font-weight: 300;
    padding: 6px 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.keyboard-modal-container td {
    font-weight: 300;
    padding: 6px 18px 6px 18px;
}

.keyboard-modal-container tr:nth-child(odd) {
    background-color: rgba(16, 16, 16, 0.8);
}

.keyboard-modal-container tr:nth-child(even) {
    background-color: rgba(32, 32, 32, 0.8);
}

.keyboard-modal-container br {
    line-height: 12px;
}

#keyboard-close-modal {
    position: absolute;
    font-size: 36px;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);
}

#radio-close-modal:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
}

#radio-close-modal {
    z-index: 1001;
    position: absolute;
    font-size: 36px;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);
}

#keyboard-close-modal:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
}

.right-sidebar {
    position: fixed;
    right: 0;
    bottom: 92px;
    width: 36px;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.6);
    border-top: 2px solid rgba(0, 0, 0, 0.5);
    border-left: 2px solid rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

#right-sidebar {
    transition: 1s;
}

.right-sidebar-container {
    position: relative;
}

.colors-title {
    transform: rotate(-90deg);
    position: absolute;
    text-transform: uppercase;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
    padding: 10px 11px;
    letter-spacing: 0.1em;
    right: -28px;
    bottom: -63px;
    transition: 0.2s;
    cursor: pointer;
}

.colors-title:hover {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.6);
}

.colors-title:hover:after {
    transform: rotate(90deg);
    text-transform: none;
    letter-spacing: normal;
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    bottom: 92px;
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 12px;
    font-weight: 600;
    content: "Next color, or use [A] & [D] keys to cycle";
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
    left: -1px;
    padding: 4px 8px;
    position: absolute;
    z-index: 100;
    width: 125px;
    text-align: center;
    line-height: 16px;
}

.right-sidebar-container>div {
    height: 36px;
    width: 36px;
    transition: 0.2s;
    position: relative;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.right-sidebar-container>div>span {
    position: absolute;
    right: 41%;
    top: 28%;
}

.right-sidebar-container>div:hover {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom: 2px solid rgba(0, 0, 0, 0.3) !important;
    cursor: pointer;
}

.right-sidebar-container>div:hover:after {
    background: rgba(0, 0, 0, .6);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    bottom: 5px;
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 12px;
    font-weight: 600;
    content: attr(data);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
    white-space: nowrap;
    right: 40px;
    padding: 4px 8px;
    position: absolute;
    z-index: 100;
    transition: 0.2s;
}

.active-color {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid rgba(0, 0, 0, 0.3) !important;
}

.color-option-9 {
    margin-bottom: 91px;
}

.right-gain-bar {
    z-index: 700;
    position: absolute;
    padding-right: 44px;
    font-size: 2em;
    right: 0px;
    top: 50vh;
    transition: 1s;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.6);
    border-top: 2px solid rgba(0, 0, 0, 0.5);
    border-left: 2px solid rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.audio-btn {
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 0.1em;
    transition: 0.2s;
    cursor: pointer;
}

.audio-btn:hover {
    color: rgba(255, 255, 255, 0.9);
}

.audio-btn:hover:after {
    border-radius: 6px;
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 12px;
    font-weight: 600;
    padding: 4px 8px;
    z-index: 100;
}

.right-gain-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Make a clear bar */

.range__slider [type="range"] {
    position: absolute;
    z-index: 500;
    -webkit-appearance: none;
    border-radius: 6px;
    outline: none;
    padding: 0;
    margin: 0;
    background: none;
}


/* custom thumb */

.range__slider [type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #f0932b;
    border: #f9ca24 5px solid;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}

.range__slider [type="range"]::-webkit-slider-thumb:hover {
    background: #f0932b;
}

.range__slider [type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #f0932b;
    border: #f9ca24 5px solid;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}

.range__slider [type="range"]::-moz-range-thumb:hover {
    background: #f9ca24;
}


/* remove border */

input::-moz-focus-inner,
input::-moz-focus-outer {
    border: 0;
}

footer {
    z-index: 9;
    opacity: 0;
    width: 100%;
    height: 20vh;
    bottom: 0;
    position: fixed;
    color: #ffffff;
}

#footer-audio-player {
    transition: 1s;
}

.footer-audio-container {
    border-top: solid 2px rgba(0, 0, 0, 0.5);
    display: flex;
}

#playbar {
    height: 100%;
    z-index: 10;
    cursor: pointer;
    border-top: 1px solid var(--outline-color);
    background-color: var(--secondary-color);
    opacity: 0.6;
}

#playbar-progress {
    height: 100%;
    background-color: var(--secondary-color);
    border-radius: 5px;
    position: absolute;
    cursor: pointer;
}

#playbar-container {
    height: 20%;
    position: relative;
}

.full-screen {
    padding: 6px 20px 0 20px;
    color: rgba(255, 255, 255, 0.6);
    transition: 0.2s;
    font-size: 21px;
}

#full-screen-container {
    position: relative;
    cursor: pointer;
    transition: 0.2s;
}

#full-screen-container:hover {
    color: rgba(255, 255, 255, 0.9);
}

#full-screen-container:hover:after {
    text-transform: none;
    letter-spacing: normal;
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    bottom: 86px;
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 12px;
    font-weight: 600;
    content: attr(data);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
    white-space: nowrap;
    right: 22px;
    padding: 4px 8px;
    position: absolute;
    z-index: 100;
}

#demo-button-container {
    position: fixed;
    left: 46px;
    bottom: 44px;
    height: 36px;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.6);
    border: 2px solid rgba(0, 0, 0, 0.5);
    transition: 1s;
}

#demo-button {
    text-transform: uppercase;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
    padding: 10px 11px;
    letter-spacing: 0.1em;
    transition: 0.2s;
    cursor: pointer;
}

#demo-button:hover {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.6);
}

#demo-button:hover:after {
    text-transform: none;
    letter-spacing: normal;
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    bottom: 42px;
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 12px;
    font-weight: 600;
    content: "Use a demo song with the visualizer";
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
    text-align: center;
    line-height: 16px;
    left: 2px;
    padding: 4px 8px;
    position: absolute;
    z-index: 100;
    width: 106px;
    word-wrap: break-word;
    white-space: normal;
}

@font-face {
    font-family: Jet Set;
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Jet-Set.ttf') format("truetype")
}

@font-face {
    font-family: Jet Set;
    font-style: italic;
    font-weight: 400;
    src: url('fonts/Jet-Set-italic.ttf') format("truetype")
}

@keyframes example {
    from {
        margin-left: 0%;
    }
    to {
        margin-left: 100%;
    }
}

.pages__Marker-sc-1g904gw-1 {
    position: absolute;
    height: 100%;
    width: 2vmin;
    fill: var(--primary-color);
    background-color: var(--primary-dark-color);
    ;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    z-index: 1;
    animation: example 1s linear 0s infinite alternate;
}

.pages__Tuner-sc-1g904gw-0 {
    display: grid;
    height: 100%;
    grid-template-columns: 70vw 20vw 10vw;
    grid-template-rows: 1fr;
    border-top: 1px solid var(--outline-color);
    border-bottom: 1px solid var(--outline-color);
    background-color: var(--primary-color);
}

.pages__Text-sc-1g904gw-2 {
    margin: 0;
    position: absolute;
    line-height: 1;
    text-align: right;
    right: 0;
    font-size: 6.5vmin;
    color: #00e5e5;
    font-style: italic;
    font-family: "Jet Set";
    white-space: nowrap;
    user-select: none;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    z-index: 2;
}

@keyframes cJYyos-animate {
    from {
        margin-left: 20%;
    }
    to {
        margin-left: 50%;
    }
}

.cJYyos {
    /*width: "0.5vmin", start: "20%", end: "50%", duration: "1s", timing: "ease"*/
    width: 0.5vmin;
    animation: cJYyos-animate 1s ease 0s infinite alternate;
}

@keyframes ceylTi-animate {
    from {
        margin-left: 30%;
    }
    to {
        margin-left: 90%;
    }
}

.ceylTi {
    /* width: "0.5vmin", start: "30%", end: "90%", duration: "1s", delay: "-1s"*/
    width: 0.5vmin;
    animation: ceylTi-animate 1s linear -1s infinite alternate;
}

@keyframes ceylTi-animate {
    from {
        margin-left: 30%;
    }
    to {
        margin-left: 90%;
    }
}

.ceylTi {
    /* width: "0.5vmin", start: "30%", end: "90%", duration: "1s", delay: "-1s"*/
    width: 0.5vmin;
    animation: ceylTi-animate 1s linear -1s infinite alternate;
}

@keyframes ccJFTX-animate {
    from {
        margin-left: 30%;
    }
    to {
        margin-left: 70%;
    }
}

.ccJFTX {
    /*  width: "1vmin", start: "30%", end: "70%", duration: "1s", timing: "cubic-bezier(.11,.97,.86,1)"*/
    width: 1vmin;
    animation: ccJFTX-animate 1s cubic-bezier(.11, .97, .86, 1) 0s infinite alternate;
}

@keyframes dpcYoq-animate {
    from {
        margin-left: 30%;
    }
    to {
        margin-left: 100%;
    }
}

.dpcYoq {
    /*   width: "1vmin", start: "30%", end: "100%", duration: "1.5s", delay: "-1s" */
    width: 1vmin;
    animation: dpcYoq-animate 1.5s linear -1s infinite alternate;
}

@keyframes ePoAse-animate {
    from {
        margin-left: 30%;
    }
    to {
        margin-left: 60%;
    }
}

.ePoAse {
    /*   width: "1.5vmin", start: "30%", end: "60%", duration: "1s", delay: "-0.5s" */
    width: 1.5vmin;
    animation: ePoAse-animate 1.5s linear -0.5s infinite alternate;
}

@keyframes CRCLc-animate {
    from {
        margin-left: 30%;
    }
    to {
        margin-left: 90%;
    }
}

.CRCLc {
    /* width: "1.5vmin", start: "30%", end: "90%", duration: "1.5s", delay: "-1s" */
    width: 1.5vmin;
    animation: CRCLc-animate 1.5s linear -1s infinite alternate;
}

@keyframes iihvvr-animate {
    from {
        margin-left: 90%;
    }
    to {
        margin-left: 70%;
    }
}

.iihvvr {
    /* width: "2vmin", start: "100%", end: "80%", duration: "1s", delay: "-1s", timing: "ease" */
    width: 2vmin;
    animation: iihvvr-animate 1s ease -1s infinite alternate;
}

@keyframes icCsBZ-animate {
    from {
        margin-left: 60%;
    }
    to {
        margin-left: 90%;
    }
}

.icCsBZ {
    /* width: "2vmin", start: "60%", end: "90%", duration: "2s", delay: "-1.5s", timing: "cubic-bezier(.23,.64,.93,.64)" */
    width: 2vmin;
    animation: icCsBZ-animate 2s cubic-bezier(.23, .64, .93, .64) -1.5s infinite alternate;
}

@keyframes dUebIs-animate {
    from {
        margin-left: 55%;
    }
    to {
        margin-left: 50%;
    }
}

.dUebIs {
    /* width: "3vmin", start: "55%", end: "50%", duration: "1s", delay: "-0.5s", timing: "ease" */
    width: 3vmin;
    animation: dUebIs-animate 1s ease -0.5s infinite alternate;
}

#loadingScreen {
    display: none;
    /* The loading screen should be the highest element on the index */
    z-index: 999;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
}


/*------------------------------------------------------*/


/*// ROTATE 3D ANIMATION //////////////////////////////////*/


/*------------------------------------------------------*/

@keyframes rotate3dAnimationTimeline {
    0% {
        transform: perspective(700px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    50% {
        transform: perspective(700px) rotateX(0deg) rotateY(-180deg) rotateZ(0deg);
    }
    100% {
        transform: perspective(700px) rotateX(0deg) rotateY(-360deg) rotateZ(0deg);
    }
}

@-webkit-keyframes rotate3dAnimationTimeline {
    0% {
        -webkit-transform: perspective(700px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    50% {
        -webkit-transform: perspective(700px) rotateX(0deg) rotateY(-180deg) rotateZ(0deg);
    }
    100% {
        -webkit-transform: perspective(700px) rotateX(0deg) rotateY(-360deg) rotateZ(0deg);
    }
}

.rotate3dAnimation {
    animation: rotate3dAnimationTimeline 3.5s linear normal infinite;
    -webkit-animation: rotate3dAnimationTimeline 3.5s linear normal infinite;
}

.radiomodal-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container {
    flex-basis: 50%;
    max-height: 80vh;
    width: 80%;
    min-width: 80vw;
    max-width: 80vw;
    overflow-y: scroll;
    border: 1px solid gray;
    scroll-snap-type: y proximity;
}

* {
    scrollbar-width: thin;
    scrollbar-color: green orange;
}


/* Works on Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: orange;
}

*::-webkit-scrollbar-thumb {
    background-color: green;
    border-radius: 20px;
    border: 3px solid orange;
}


/* CSS for screens smaller than 600px */

@media (max-width: 600px) {
    .keyboard-modal-boarder {
        border: 10px solid rgba(84, 123, 43, 0.8);
        background-color: rgba(108, 179, 108, 0.5);
        border-image-source: none;
        background-image: none;
        border-radius: 24px;
    }
}